﻿// Imports
@import 'compass/typography/lists/inline-block-list';
@import 'compass/typography/lists/bullets';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';

// Variables
$header_color: #f2f2f2;
$top_bg: #ECECEC;
$link_color: #01548d;
$light_gray: #e3e3e3;
$dark_gray: #797979;
$dark_blue: #015b99;

body {
  font-family: 'Open Sans', arial, sans-serif;
}